body {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
  width: 100%;
}

button {
  font-family: Raleway;
}

header {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.404);
}
header .background-header {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
header nav {
  display: flex;
  height: 100%;
  width: 100%;
}
header nav .menu-header {
  justify-content: space-around;
  display: flex;
  width: 100%;
}
header nav .menu-header .logo-header {
  padding-top: 38px;
  display: flex;
  width: 182px;
  height: 56px;
  align-items: center;
  cursor: pointer;
}
header nav .menu-header .logo-header img {
  width: 64px;
}
header nav .menu-header .logo-header p {
  font-size: 3.9vh;
  width: 115px;
  color: #FFF;
  font-family: Raleway;
}
header nav .menu-header .logo-header:hover {
  transform: scale(0.98);
}
header nav .menu-header .navigation-menu {
  display: flex;
  justify-content: flex-end;
}
header nav .menu-header .navigation-menu__1, header nav .menu-header .navigation-menu__2 {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
}
header nav .menu-header .navigation-menu__1 li, header nav .menu-header .navigation-menu__2 li {
  padding-top: 60px;
  margin-right: 30px;
  list-style: none;
}
header nav .menu-header .navigation-menu__1 li:active, header nav .menu-header .navigation-menu__2 li:active {
  transform: scale(0.9);
}
header nav .menu-header .navigation-menu__1 li a, header nav .menu-header .navigation-menu__2 li a {
  font-family: Roboto;
  color: #FFF;
  text-decoration: none;
}
header nav .menu-header .navigation-menu__1 li a:hover, header nav .menu-header .navigation-menu__2 li a:hover {
  color: #c7b299;
}
header nav .menu-header .navigation-menu__1 {
  font-size: 14px;
}
header nav .menu-header .navigation-menu__2 {
  height: 24px;
}
header .fleche-header i {
  font-size: 74px;
  color: lightgray;
  cursor: pointer;
  position: absolute;
  top: 450px;
}
header .fleche-header i:hover {
  color: #9e9e9e;
}
header .fleche-header i:active {
  transform: scale(0.98);
}
header .fleche-header .fa-angle-left {
  left: 150px;
}
header .fleche-header .fa-angle-right {
  right: 150px;
}
header .slogant {
  color: #FFF;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 286px;
}
header .slogant h2 {
  font-size: 36px;
}
header .slogant h1 {
  font-size: 50px;
}
header .slogant p {
  font-size: 15px;
}
header .slogant h2, header .slogant h1, header .slogant p {
  margin: 0 0 14px 0;
  font-family: Montserrat;
}
header .button-1 {
  display: flex;
  width: 100%;
  justify-content: center;
}
header .button-1 :hover {
  transform: scale(0.98);
}
header .button-1 :active {
  transform: scale(1.06);
}
header .button-1 button {
  width: 170px;
  height: 50px;
  margin-top: 38px;
  font-size: 15px;
  border-radius: 5px;
  color: #FFF;
  background-color: #998675;
  border-bottom: 3px solid #816f5f;
  border-top: none;
  border-right: none;
  border-left: none;
  cursor: pointer;
}
header .sliders {
  position: relative;
  margin-top: 325px;
  padding-bottom: 42px;
  display: flex;
  justify-content: center;
}
header .sliders .slider {
  height: 11px;
  z-index: 5;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.24);
  border: 5px solid #c7b299;
}
header .sliders .slider:hover {
  transform: scale(1.5);
}

.competences {
  height: 100%;
  position: relative;
  display: flex;
  margin: 80px 0;
  padding: 0 345px;
  font-family: Raleway;
}
.competences .competence {
  text-align: center;
  width: 266px;
  margin-left: 17px;
  margin-right: 17px;
  border-bottom: 3px solid #dbdbdb;
  padding-bottom: 33px;
  cursor: pointer;
}
.competences .competence:hover {
  transition: 0.2s;
  color: #c7b299;
  border-bottom: 3px solid;
}
.competences .competence:active {
  transform: scale(1.06);
  transition: 0s;
}
.competences .competence i {
  font-size: 47px;
}
.competences .competence i:nth-child(2) {
  color: #555555;
}
.competences .competence h4 {
  font-size: 21px;
}
.competences .competence h4:nth-child(2n+1) {
  color: #555555;
}
.competences .competence p {
  font-size: 13px;
  color: #9e9e9e;
  color: #9e9e9e;
}
.competences .competence i, .competences .competence h4, .competences .competence p {
  width: 100%;
}

.section-1 {
  width: 100%;
  font-family: Raleway;
  background: #f3f3f3;
}
.section-1 .sct-1_part-1 {
  text-align: center;
  margin: auto;
  width: 50%;
}
.section-1 .sct-1_part-1 .titre-sct-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-1 .sct-1_part-1 .titre-sct-1 h3 {
  font-size: 28px;
  margin-top: 82px;
  margin-bottom: 24px;
  padding-bottom: 0;
  color: #555555;
}
.section-1 .sct-1_part-1 .titre-sct-1 p {
  margin-top: 0;
  padding-top: 0;
  font-size: 15px;
  margin-bottom: 522px;
  color: #9e9e9e;
}
.section-1 .sct-1_part-2 {
  height: 100%;
  width: 100%;
  color: #FFF;
  background: #24140c;
  display: flex;
  justify-content: space-around;
}
.section-1 .sct-1_part-2 h3 {
  margin-top: 50px;
  padding: 0;
  margin-bottom: 9px;
  font-size: 26px;
}
.section-1 .sct-1_part-2 h3 strong {
  color: #c7b299;
}
.section-1 .sct-1_part-2 p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 49px;
}
.section-1 .sct-1_part-2 .button-2 :hover {
  transform: scale(0.98);
}
.section-1 .sct-1_part-2 .button-2 :active {
  transform: scale(1.06);
}
.section-1 .sct-1_part-2 .button-2 button {
  width: 170px;
  height: 50px;
  margin: 50px 0px;
  font-size: 15px;
  border-radius: 5px;
  color: #FFF;
  background-color: #998675;
  border-bottom: 3px solid #816f5f;
  border-top: none;
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.section-2 {
  width: 100%;
}
.section-2 .titre-nav-projet {
  width: 50%;
  text-align: center;
  margin: auto;
  font-family: Raleway;
}
.section-2 .titre-nav-projet h3 {
  font-size: 26px;
  padding-top: 0;
  margin-top: 82px;
  margin-bottom: 0;
  color: #555555;
}
.section-2 .titre-nav-projet p {
  padding-top: 0;
  margin-top: 24px;
  color: #9e9e9e;
}
.section-2 .titre-nav-projet .menu-projet ul {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  list-style: none;
  width: 80%;
  justify-content: space-between;
}
.section-2 .titre-nav-projet .menu-projet ul li {
  border: 1px solid #9e9e9e;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 5px;
  color: #9e9e9e;
  text-decoration: none;
  cursor: pointer;
}
.section-2 .titre-nav-projet .menu-projet ul li:hover {
  transition: 0.3s;
  background-color: #998675;
  border: 1px solid #998675;
  color: #FFF;
}
.section-2 .titre-nav-projet .menu-projet ul li:active {
  transform: scale(0.8);
}
.section-2 .projets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.section-2 .projets .projet {
  position: relative;
  width: 30%;
  background: #fdfafa;
  margin-bottom: 30px;
  cursor: pointer;
  overflow: hidden;
}
.section-2 .projets .projet img {
  transition: all 0.6s;
}
.section-2 .projets .projet:hover {
  transition: 0.6s;
  background: #24140c;
}
.section-2 .projets .projet:hover img {
  transform: scale(1.06);
}
.section-2 .projets .projet:hover h4 {
  color: #FFF;
}
.section-2 .projets .projet:hover p {
  color: #c7b299;
}
.section-2 .projets .projet div {
  margin: 0;
  font-family: Raleway;
  padding-left: 30px;
}
.section-2 .projets .projet div h4 {
  font-size: 18px;
  color: #c7b299;
}
.section-2 .projets .projet div p {
  font-size: 14px;
  color: #9e9e9e;
}
.section-2 .button-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.section-2 .button-3 :hover {
  transform: scale(0.98);
}
.section-2 .button-3 :active {
  transform: scale(1.06);
}
.section-2 .button-3 button {
  width: 170px;
  height: 50px;
  margin: 50px 0px;
  font-size: 18px;
  border-radius: 5px;
  color: #FFF;
  background-color: #998675;
  border-bottom: 3px solid #816f5f;
  border-top: none;
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.aside-1 {
  position: relative;
  width: 100%;
  height: 705px;
  background-color: rgba(0, 0, 0, 0.5);
}
.aside-1 img {
  position: absolute;
  z-index: -3;
  height: 705px;
}
.aside-1 .slogan-presentation {
  width: 50%;
  margin-left: 25%;
  font-family: Raleway;
  text-align: center;
  color: #FFF;
  position: absolute;
  top: 210px;
}
.aside-1 .slogan-presentation .lecture i {
  font-size: 100px;
  margin-bottom: 45px;
  background-color: #504f4f9f;
  padding: 15px;
  border-radius: 70px;
  cursor: pointer;
}
.aside-1 .slogan-presentation .lecture i:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.aside-1 .slogan-presentation .lecture i:active {
  transform: scale(0.98);
}
.aside-1 .slogan-presentation .slg-prstn h3 {
  font-size: 25px;
}
.aside-1 .slogan-presentation .slg-prstn p {
  font-size: 16px;
}
.aside-1 .slogan-presentation .temps-lecture p {
  font-size: 10px;
  color: #c7b299;
}

.section-3 {
  width: 100%;
  position: relative;
}
.section-3 .sct-3-part-1 {
  display: flex;
  margin-bottom: 0;
}
.section-3 .sct-3-part-1 .img-section-3 {
  height: 100%;
}
.section-3 .sct-3-part-1 .image-a-incruster {
  position: absolute;
}
.section-3 .sct-3-part-1 .descriptions {
  margin-left: 32px;
  width: 50%;
  font-family: Raleway;
  color: #9e9e9e;
}
.section-3 .sct-3-part-1 .descriptions .description {
  width: 80%;
  margin-top: 195px;
}
.section-3 .sct-3-part-1 .descriptions .description h3 {
  font-size: 22px;
}
.section-3 .sct-3-part-1 .descriptions .description p {
  font-size: 15px;
}
.section-3 .sct-3-part-1 .descriptions .point-a-preciser {
  margin-left: 50px;
  margin-bottom: 180px;
}
.section-3 .sct-3-part-1 .descriptions .point-a-preciser .precision {
  display: flex;
  align-items: center;
}
.section-3 .sct-3-part-1 .descriptions .point-a-preciser .precision i {
  color: #c7b299;
  font-size: 21px;
  margin-right: 30px;
  cursor: pointer;
}
.section-3 .sct-3-part-1 .descriptions .point-a-preciser .precision p {
  font-size: 15px;
}
.section-3 .sct-3-part-2 {
  width: 100%;
  padding-top: 68px;
  padding-bottom: 60px;
  display: flex;
  background: #24140c;
  justify-content: center;
}
.section-3 .sct-3-part-2 .info {
  padding-left: 5%;
  text-align: center;
  cursor: pointer;
}
.section-3 .sct-3-part-2 .info:hover i {
  color: #FFF;
}
.section-3 .sct-3-part-2 .info:hover p {
  color: #FFF;
}
.section-3 .sct-3-part-2 .info:active {
  transform: scale(1.06);
}
.section-3 .sct-3-part-2 .info i {
  color: #c7b299;
  font-size: 45px;
  z-index: 1;
  transition: all 0.3s;
}
.section-3 .sct-3-part-2 .info h3 {
  color: #FFF;
  font-size: 35px;
  transition: all 0.3s;
}
.section-3 .sct-3-part-2 .info p {
  font-size: 15px;
  border-bottom: 3px solid #FFF;
  padding-bottom: 30px;
  color: #c7b299;
}

.section-4 {
  width: 100%;
}
.section-4 .titre-sct-4 {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 82px;
  padding-bottom: 42px;
  font-family: Raleway;
  color: #9e9e9e;
}
.section-4 .titre-sct-4 h3 {
  color: #555555;
  font-size: 21px;
}
.section-4 .titre-sct-4 p {
  font-size: 15px;
}
.section-4 .publications-sct-4 {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.section-4 .publications-sct-4 .publication {
  position: relative;
  width: 30%;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  overflow: hidden;
}
.section-4 .publications-sct-4 .publication:hover {
  transition: 0.6s;
  background: #24140c;
}
.section-4 .publications-sct-4 .publication:hover img {
  transform: scale(1.06);
}
.section-4 .publications-sct-4 .publication:hover .calendrier h4 {
  background: #c7b299;
}
.section-4 .publications-sct-4 .publication:hover .calendrier p {
  background: #998675;
}
.section-4 .publications-sct-4 .publication:hover .slider-sct-4 {
  transform: scale(1.1);
}
.section-4 .publications-sct-4 .publication:hover .slogan-sct-4 h4 {
  color: #c7b299;
}
.section-4 .publications-sct-4 .publication .calendrier {
  width: 15%;
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.section-4 .publications-sct-4 .publication .calendrier h4 {
  background: #9e9e9e;
  font-size: 18px;
  height: 35px;
  margin: 0;
  border-radius: 5px 5px 0 0;
}
.section-4 .publications-sct-4 .publication .calendrier p {
  background: #555555;
  margin: 0;
  font-size: 12px;
  height: 25px;
  border-radius: 0 0 5px 5px;
}
.section-4 .publications-sct-4 .publication .calendrier h4, .section-4 .publications-sct-4 .publication .calendrier p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-4 .publications-sct-4 .publication img {
  height: 220px;
  transition: all 0.6s;
  z-index: -5;
}
.section-4 .publications-sct-4 .publication .slider-sct-4 {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 200px;
  height: 11px;
  z-index: 1;
}
.section-4 .publications-sct-4 .publication .slogan-sct-4 {
  width: 100%;
  margin-left: 28px;
  color: #9e9e9e;
}
.section-4 .publications-sct-4 .publication .slogan-sct-4 h4 {
  font-size: 20px;
}
.section-4 .publications-sct-4 .publication .slogan-sct-4 p {
  font-size: 15px;
}
.section-4 .publications-sct-4 .publication .slogan-sct-4 div {
  color: #c7b299;
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;
}
.section-4 .fleche-sct-4 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 80px;
  position: relative;
}
.section-4 .fleche-sct-4 div {
  width: 5%;
  margin: auto;
  position: relative;
  padding: 0;
}
.section-4 .fleche-sct-4 div .fleche {
  font-size: 22px;
  position: absolute;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #9e9e9e;
}
.section-4 .fleche-sct-4 div .fleche:hover {
  color: #c7b299;
  transition: 0.2s;
}
.section-4 .fleche-sct-4 div .fleche:active {
  transform: scale(1.06);
  transition: Os;
}
.section-4 .fleche-sct-4 div .fleche input {
  display: none;
}
.section-4 .fleche-sct-4 div .fleche__gauche {
  left: 10px;
}
.section-4 .fleche-sct-4 div .fleche__droite {
  right: 10px;
}

footer {
  width: 100%;
  height: 100%;
}
footer .logo-client {
  background: #000000c2;
  height: 490px;
}
footer .logo-client img {
  position: absolute;
  z-index: -5;
  height: 490px;
}
footer .logo-client .differents-logo {
  padding-top: 140px;
  z-index: 5;
  width: 100%;
  text-align: center;
  font-size: 210px;
  height: 490px;
}
footer .logo-client .differents-logo i {
  color: #FFF;
}
footer .footer-part-2 {
  width: 100%;
  background: #0a0a0a;
  display: flex;
  justify-content: center;
}
footer .footer-part-2 .part-2 {
  display: flex;
  width: 80%;
  font-family: Raleway;
  justify-content: center;
}
footer .footer-part-2 .part-2 .paragraphe {
  color: #9e9e9e;
  width: 23%;
  margin: 0 15px;
}
footer .footer-part-2 .part-2 .paragraphe h4 {
  color: #FFF;
}
footer .footer-part-2 .part-2 .paragraphe__2, footer .footer-part-2 .part-2 .paragraphe__3, footer .footer-part-2 .part-2 .paragraphe__4 {
  cursor: pointer;
  margin-top: 110px;
}
footer .footer-part-2 .part-2 .paragraphe__1 .logo-footer {
  margin-top: 80px;
  display: flex;
  width: 182px;
  height: 56px;
  align-items: center;
  cursor: pointer;
}
footer .footer-part-2 .part-2 .paragraphe__1 .logo-footer img {
  width: 64px;
}
footer .footer-part-2 .part-2 .paragraphe__1 .logo-footer p {
  font-size: 3vh;
  width: 115px;
  color: #FFF;
  font-family: Raleway;
}
footer .footer-part-2 .part-2 .paragraphe__1 .lire-plus {
  display: flex;
  align-items: center;
  color: #FFF;
  margin-bottom: 145px;
  padding: 0;
  cursor: pointer;
}
footer .footer-part-2 .part-2 .paragraphe__1 .lire-plus:hover {
  color: #c7b299;
}
footer .footer-part-2 .part-2 .paragraphe__1 .lire-plus i {
  padding-left: 10px;
}
footer .footer-part-2 .part-2 .paragraphe__2 .post:nth-last-of-type(1), footer .footer-part-2 .part-2 .paragraphe__2 .post:nth-last-of-type(2) {
  border-top: 1px solid #555555;
}
footer .footer-part-2 .part-2 .paragraphe__2 .post {
  transition: all 0.3s;
}
footer .footer-part-2 .part-2 .paragraphe__2 .post h5 {
  color: #555555;
}
footer .footer-part-2 .part-2 .paragraphe__2 .post:hover {
  transform: scale(1.06);
}
footer .footer-part-2 .part-2 .paragraphe__2 .post:hover h5 {
  color: #FFF;
}
footer .footer-part-2 .part-2 .paragraphe__2 .post:hover p {
  color: #c7b299;
}
footer .footer-part-2 .part-2 .paragraphe__3 .tweet:nth-last-of-type(1), footer .footer-part-2 .part-2 .paragraphe__3 .tweet:nth-last-of-type(2) {
  border-top: 1px solid #555555;
}
footer .footer-part-2 .part-2 .paragraphe__3 .tweet {
  transition: all 0.3s;
}
footer .footer-part-2 .part-2 .paragraphe__3 .tweet h5 {
  color: #555555;
}
footer .footer-part-2 .part-2 .paragraphe__3 .tweet p > span {
  color: #7cb5ff;
}
footer .footer-part-2 .part-2 .paragraphe__3 .tweet:hover {
  transform: scale(1.06);
}
footer .footer-part-2 .part-2 .paragraphe__3 .tweet:hover h5 {
  color: #FFF;
}
footer .footer-part-2 .part-2 .paragraphe__3 .tweet:hover p {
  color: #c7b299;
}
footer .menu-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
}
footer .menu-footer .menu-footer-part-1 ul, footer .menu-footer .menu-footer-part-2 ul {
  display: flex;
  margin-right: 10px;
}
footer .menu-footer .menu-footer-part-1 ul li, footer .menu-footer .menu-footer-part-2 ul li {
  font-family: Raleway;
  color: #9e9e9e;
  list-style-type: none;
  padding-right: 15px;
  padding-left: 15px;
  border-left: #9e9e9e;
  cursor: pointer;
}
footer .menu-footer .menu-footer-part-1 ul li:nth-of-type(3), footer .menu-footer .menu-footer-part-2 ul li:nth-of-type(3) {
  color: #c7b299;
}
footer .menu-footer .menu-footer-part-1 ul li:nth-of-type(2), footer .menu-footer .menu-footer-part-1 ul li:nth-of-type(3), footer .menu-footer .menu-footer-part-1 ul li:nth-of-type(4), footer .menu-footer .menu-footer-part-2 ul li:nth-of-type(2), footer .menu-footer .menu-footer-part-2 ul li:nth-of-type(3), footer .menu-footer .menu-footer-part-2 ul li:nth-of-type(4) {
  border-left: 1px solid #555555;
}
footer .menu-footer .menu-footer-part-1 ul li strong, footer .menu-footer .menu-footer-part-2 ul li strong {
  color: #FFF;
}
footer .menu-footer .menu-footer-part-1 ul li:hover, footer .menu-footer .menu-footer-part-2 ul li:hover {
  transform: scale(1.06);
}
footer .menu-footer .menu-footer-part-1 ul li:active, footer .menu-footer .menu-footer-part-2 ul li:active {
  transform: scale(0.98);
}

/*# sourceMappingURL=site.css.map */
