body {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
  width: 100%;
}

header {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.404);
}
header .background-header {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
header nav {
  display: flex;
  height: 100%;
  width: 100%;
}
header nav .menu-header {
  justify-content: space-around;
  display: flex;
  width: 100%;
}
header nav .menu-header .logo-header {
  padding-top: 38px;
  display: flex;
  width: 182px;
  height: 56px;
  align-items: center;
  cursor: pointer;
}
header nav .menu-header .logo-header img {
  width: 64px;
}
header nav .menu-header .logo-header p {
  font-size: 3.9vh;
  width: 115px;
  color: #FFF;
  font-family: Raleway;
}
header nav .menu-header .navigation-menu {
  display: flex;
  justify-content: flex-end;
}
header nav .menu-header .navigation-menu__1, header nav .menu-header .navigation-menu__2 {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
}
header nav .menu-header .navigation-menu__1 li, header nav .menu-header .navigation-menu__2 li {
  padding-top: 60px;
  margin-right: 30px;
  list-style: none;
}
header nav .menu-header .navigation-menu__1 li:hover, header nav .menu-header .navigation-menu__2 li:hover {
  transform: scale(1.08);
}
header nav .menu-header .navigation-menu__1 li a, header nav .menu-header .navigation-menu__2 li a {
  font-family: Roboto;
  color: #FFF;
  text-decoration: none;
}
header nav .menu-header .navigation-menu__1 li a:hover, header nav .menu-header .navigation-menu__2 li a:hover {
  color: #c7b299;
}
header nav .menu-header .navigation-menu__1 {
  font-size: 14px;
}
header nav .menu-header .navigation-menu__2 {
  height: 24px;
}
header .fleche-header i {
  font-size: 74px;
  color: lightgray;
  cursor: pointer;
  position: absolute;
  top: 450px;
}
header .fleche-header .fa-angle-left {
  left: 150px;
}
header .fleche-header .fa-angle-right {
  right: 150px;
}
header .slogant {
  color: #FFF;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 286px;
}
header .slogant h2 {
  font-size: 36px;
}
header .slogant h1 {
  font-size: 50px;
}
header .slogant p {
  font-size: 15px;
}
header .slogant h2, header .slogant h1, header .slogant p {
  margin: 0 0 14px 0;
  font-family: Montserrat;
}
header .button-1 {
  display: flex;
  width: 100%;
  justify-content: center;
}
header .button-1 :hover {
  transform: scale(0.98);
}
header .button-1 button {
  width: 170px;
  height: 50px;
  margin-top: 38px;
  font-size: 15px;
  border-radius: 5px;
  color: #FFF;
  background-color: #998675;
  border-bottom: 3px solid #816f5f;
  border-top: none;
  border-right: none;
  border-left: none;
  cursor: pointer;
}
header .sliders {
  position: relative;
  margin-top: 325px;
  padding-bottom: 42px;
  display: flex;
  justify-content: center;
}
header .sliders .slider {
  height: 11px;
  z-index: 5;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.24);
  border: 5px solid #c7b299;
}
header .sliders .slider:hover {
  transform: scale(1.5);
}

.competences {
  height: 100%;
  position: relative;
  display: flex;
  margin: 80px 0;
  padding: 0 345px;
  font-family: Raleway;
}
.competences .competence {
  text-align: center;
  width: 266px;
  margin-left: 17px;
  margin-right: 17px;
  border-bottom: 3px solid #dbdbdb;
  padding-bottom: 33px;
}
.competences .competence:nth-child(2n+2) {
  color: #c7b299;
  border-bottom: 3px solid;
}
.competences .competence i {
  font-size: 47px;
}
.competences .competence h4 {
  font-size: 21px;
}
.competences .competence p {
  font-size: 13px;
  color: #555555;
}
.competences .competence i, .competences .competence h4, .competences .competence p {
  width: 100%;
}

.section-1 {
  width: 100%;
  font-family: Raleway;
  background: #f3f3f3;
}
.section-1 .sct-1_part-1 .titre-sct-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-1 .sct-1_part-1 .titre-sct-1 h3 {
  font-size: 28px;
  margin-top: 82px;
  margin-bottom: 24px;
  padding-bottom: 0;
}
.section-1 .sct-1_part-1 .titre-sct-1 p {
  margin-top: 0;
  padding-top: 0;
  font-size: 15px;
  margin-bottom: 522px;
}
.section-1 .sct-1_part-2 {
  height: 100%;
  width: 100%;
  color: #FFF;
  background: #24140c;
  display: flex;
  justify-content: space-around;
}
.section-1 .sct-1_part-2 h3 {
  margin-top: 50px;
  padding: 0;
  margin-bottom: 9px;
  font-size: 26px;
}
.section-1 .sct-1_part-2 h3 strong {
  color: #c7b299;
}
.section-1 .sct-1_part-2 p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 49px;
}
.section-1 .sct-1_part-2 .button-2 :hover {
  transform: scale(0.98);
}
.section-1 .sct-1_part-2 .button-2 button {
  width: 170px;
  height: 50px;
  margin: 50px 0px;
  font-size: 15px;
  border-radius: 5px;
  color: #FFF;
  background-color: #998675;
  border-bottom: 3px solid #816f5f;
  border-top: none;
  border-right: none;
  border-left: none;
  cursor: pointer;
}

/*# sourceMappingURL=site.css.map */
